.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  background-image: url("../public/header.png");
  background-size: cover;
  background-position: center 60%;
}

.no-link-style {
  color: inherit; /* テキストの色を継承 */
  text-decoration: none; /* 下線を削除 */
}

.no-link-style:hover,
.no-link-style:focus {
  color: inherit; /* ホバー時の色を継承 */
  text-decoration: none; /* ホバー時の下線を削除 */
}

.bg-custom-1 {
  background-color: #ccf3ff !important;
}

.bg-custom-2 {
  background-color: #f3f3f3 !important;
}

.scrollable-div {
  max-height: 9999px; /* 任意の高さを指定 */
  overflow-y: auto;
  overflow-x: hidden;
}
