.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  background-image: url("../public/header.png");
  background-size: cover;
  background-position: center 60%;
   padding:5rem 1rem 4rem 0rem; 
  margin:0rem 0rem 1.5rem 0rem;
}

.no-link-style {
  color: inherit; /* テキストの色を継承 */
  text-decoration: none; /* 下線を削除 */
}

.no-link-style:hover,
.no-link-style:focus {
  color: inherit; /* ホバー時の色を継承 */
  text-decoration: none; /* ホバー時の下線を削除 */
}

.bg-custom-1 {
  background-color: #ccf3ff !important;
}

.bg-custom-2 {
  background-color: #f3f3f3 !important;
}

.scrollable-div {
  max-height: 9999px; /* 任意の高さを指定 */
  overflow-y: auto;
  overflow-x: hidden;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding:0;
}

.custom-mark {
  background-color: lightblue; /* 任意の色に変更 */
}

a {
  text-decoration: none; /* 下線を削除 */
}

.custom-link-style {
  color: inherit; /* テキストの色を継承 */
  text-decoration: none; /* 下線を削除 */
}

.custom-link-style:hover,
.custom-link-style:focus {
  color: inherit; /* ホバー時の色を継承 */
  text-decoration: none; /* ホバー時の下線を削除 */
  opacity:0.6;
	transition:0.1s;
}

.anchor {
  display: block;
  padding-top: 60px !important;
  margin-top: -30px !important;
  }

.stick{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 60px; /* ナビゲーションバーの高さに合わせて調整 */
}

.image-container img {
  width: 100%;
  height: 150px;
  object-fit: cover; /* 画像をコンテナに合わせる */
  object-position: center; /* 画像を中央に配置 */
}

.right-sidebar-toc{
  font-size: 15px;
}
.right-sidebar-toc li {
  list-style-type: none;
}

.right-sidebar-toc ul{
  padding-inline-start:1em;
}

.body-toc li {
  list-style-type: none;
}

.body-toc ul{
  padding-inline-start:1em;
}

